/*
Silicon LogiX / SLX Test Report
Copyright (c) 2026 Marco Pezzullo (Silicon LogiX).
Author: Marco Pezzullo
License: Silicon LogiX Evaluation License 1.0. See LICENSE.
*/
IDI_SLX_REPORT ICON "report-icon.ico"
