# Silicon LogiX / SLX Test Report
# Copyright (c) 2026 Marco Pezzullo (Silicon LogiX).
# Author: Marco Pezzullo
# License: Silicon LogiX Evaluation License 1.0. See LICENSE.

* text=auto eol=lf
*.ico binary
*.pdf binary
licenses/Qt-Open-Source-LICENSE.txt whitespace=-blank-at-eof
